DATABASE_URL="postgresql://totalfutbol:totalfutbol@localhost:5433/totalfutbol?schema=public"
PORT=3000
JWT_ACCESS_SECRET="cambiar-en-produccion"
JWT_REFRESH_SECRET="cambiar-en-produccion"
OTP_HASH_SECRET="cambiar-en-produccion"

REDIS_HOST="localhost"
REDIS_PORT=6379

MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY="totalfutbol"
MINIO_SECRET_KEY="totalfutbol123"
MINIO_BUCKET_EVIDENCIA="disputas-evidencia"
